{% extends 'base.html' %}

{% block content %}
<form method="POST" class="signupForm" action="{% url 'signup' %}" style="color: white">
    <div class="container">
        <h1 class="text-center pb-5" style="color: white">Sign up</h1>
        <p style = "color:red">
            {% if error %}
            {{ error }}
            {% endif %}
            </p>
{% csrf_token %}
<ul class="noBullet">
      <li>
      <label for="inputEmail4">Username</label>
      <input style="margin-left: 20px;" type="text" class="inputFields" id="inputEmail4" placeholder="username" name="username">
    </li>
    <li>
      <label for="inputPassword4">Password</label>
      <input style="margin-left: 20px;" type="password" class="inputFields" id="inputPassword4" placeholder="Password" name="password">
    </li>
  

   <li>
      <label for="inputPassword4">Confirm<br>Password</label>
      <input style="margin-left: 20px;" type="password" class="inputFields" id="inputPassword4" placeholder="Password" name="confirmpassword">
    </li>
  
  
  <button type="submit" class="btn btn-outline-secondary">Sign up</button>
</div>
</ul>
</form>
</div>
{% load staticfiles %}

{% endblock %}